$pressColor: #e0e0e056;
$selectedColor: #e0e0e0;

@mixin makeClickable {
    &:active {
        background-color: $pressColor;
    }

    &:hover {
        background-color: $selectedColor;
        cursor: pointer;
    }
}



.galleryContainer {
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    align-items: center;
    justify-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px 0;
    width: 600px;
    margin: 0 auto;;
}

.galleryContainer .imageContainer {
    display: flex;
    justify-content: first baseline;
    width: 100%;
    column-gap: 10px;


    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scroll-behavior: smooth;

}

.galleryContainer .imageContainer::-webkit-scrollbar {
    display: none;
}
  

.imageContainer div.singleImg {
    width: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    scroll-margin: 5px;
}

@keyframes slideToRight {
    from{
        transform: translate(var(--CurrentPos));
    }to{
        transform: translate(var(--CurrentPos)-100%);
    }
}

@keyframes slideToLeft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(100%);
    }
}


.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SwitchingButton {
    background-color: transparent;
    border: none;
    border-radius: 10%;
    width: fit-content;
    @include makeClickable;
}

.SwitchingImg {
    width: 2.5rem;

}